{%extends 'base.html' %}



{%block body%}
    <div class='container'>
        {%if user.is_authenticated%}
        <strong>Confirmation </strong><br>
        <p class='text-muted'>You want to delete your account</p>
        
            <form method='post'>
            {%csrf_token%}
            <input type='submit' value='Yes' class='btn btn-danger'> &nbsp; &nbsp;
            <a class='btn btn-primary' href={%url 'profile' %}>No</a>
            </form>

        
        {%endif%}

    </div>

{%endblock%}


  
{%block footer%}

{%endblock%}