{%extends 'base.html'%}


    {%block title%} Profile |  {{user.username}} {%endblock%}

{%block style%}
    a{text-decoration:none;}
    .userdropdown{padding:0px;
                    }
    .innerdropdown li{font-size:14px;
                    padding:0px;
                    
                    
                    }


@media screen and (max-width:700px){
.username{font-size:16px;}

  
    
}

{%endblock%}


{%block body%}
    

      
<div class='container'>
    <div class='row'>
        <div class='col-md-10'>
        </div>
        <div class='col-md-2'>
            
            <nav class="navbar navbar-expand-lg navbar-light ">
                <ul class="list-group me-auto mb-2 mb-lg-0 userdropdown">
                    
                    <li class="nav-item dropdown list-group-item userdropdown border-0 bg-light">
                        <a class="nav-link dropdown-toggle text-dark username" href="#" id="navbarDropdown"  data-bs-toggle="dropdown" aria-expanded="false">
                            {{user}}
                        </a>
                        <ul class="dropdown-menu innerdropdown" aria-labelledby="navbarDropdown">
                            <li class='list-group-item'><a class="dropdown-item" href={%url 'addblog'%}>Add Blog</a></li>
                            <li class='list-group-item'><a class="dropdown-item" href={%url 'confirmlogout' %}>Logout</a></li>
                           
                            <li class='list-group-item'> <a class="dropdown-item text-danger" href={%url 'deleteaccount' user.id %}>Delete Account</a></li>
                        </ul>
                    </li>
                </ul>
      
            </nav>
    </div>
  </div>


        </div>
    </div>
</div><hr>

<div class='container mt-5'>
    
    <div class='row'>
        <!--This is for  the profile webpage full data on middle of webpage -->
        <div class='col-md-8'>
            {%if fulldata%}
                {%for data in fulldata%}

                <div class='container bg-light p-2'>                                    
                    <h4><a href={%url 'detaildata' data.id%}>{{data.title}}</a></h4>
                   <small class='text-muted'><b>Author: </b>{{data.created_by}}<br>
                    <b>Posted on: </b>{{data.date}}<br>
                    <b><u>Category: </b>{{data.topic}}</u></small><br><br>
                    <p class='lead'>{{data.post | truncatechars:250 | linebreaks}} </p> 
                                                            
                    </p>
                    <small>{{data.likes.count}} likes</small> ,

                   <small> {{data.comments.count}} Comments</small>
                </div>  <br>                          

                {%endfor%}
            {% endif %}
            
            
        </div>

        <div class='col-md-1'>
        
        </div><br>
        <div class='col-md-3'>
        <h5>blogs</h5>

            {%if data%}
                {%for data in data%}
                               
                                    
                <a href={%url 'detaildata' data.id%}> {{data.title | truncatechars:50}}</a><br><br>
                                    
                              
                {%endfor%}
            {%endif%}
            {%if data%}
            <a href={%url 'user_blogs' %} class='text-info'>See all blogs</a>
            {%endif%}
            <hr> 
                                    
   
        </div>
                    
    </div><br><br>      
</div>
   
{%endblock%}
<br><br>
{%block footer%}

{%endblock%}

