{%extends 'base.html'%}
{%block title%}  Register   {%endblock%}

    


{%block body%}

    <div class='container table-responsive'>
        <h1>Register</h1>
            <form method='post' class='form'>

                {%csrf_token%}
               
                    
                   
                    {%for form in form%}
                       {{form.label}} {{form}}
                            
                            
                        
                       
                       
                     {%if form.errors%}
                        {{form.errors|striptags}}
                        {%endif%}  

                        {%endfor%}<br>
                                    
                   
                <input type='submit' value='Register' class='btn btn-primary'>

            </form>
            
                {%if messages%}
                    {%for msg in messages%}
                        {{msg}}
                    {%endfor%}
                {%endif%}

           

            <h4>Go to <a style='text-decoration: none; color:rgb(57, 57, 236)' href={%url 'login'%}>Login</a></h4>
    </div>


{%endblock%}
{%block footer%}
{%endblock%}