{% load static %}
<html lang="en">
<head>

  <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href={%static 'css/bootstrap.min.css' %}>
    <script src={%static 'js/bootstrap.min.js' %}></script>
    <script src={%static 'js/jquery.min.js' %}></script>

  {%block head%}
  {%endblock%}

    <title>{% block title %} {% endblock %}</title>


       

    
    
    <style>
   
    .footer{
        
          bottom:0;
        
        height:50px;
    
        
    }
    a{text-decoration:none;}
    a:hover{color:purple;}

    {%block style%}
    
    {%endblock%}

     @media screen and (max-width:700px){
       nav{font-size:19px;}
       .navbar-brand{font-size:28px;}
     }
    </style>
</head>
<body>
    {%url 'home' as home%}
    {%url 'about' as about%}
    {%url 'profile' as profile%}
    {%url 'register' as register%}
    {%url 'login' as login%}


    <!--Header part of the home page with navigation-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light border" >
  <div class="container-fluid">
    <a class='navbar-brand fs-1 fw-bold' style="color:rgb(32, 177, 32);" href={%url 'home' %}>SpeakingBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"  >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarhover" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item"><a class='nav-link' {%if request.path == home%}style="color:purple;"{%endif%} aria-current="page" href={{home}}>Home</a></li>
        
        {% if not user.is_authenticated%}
          <li class='nav-item' ><a class='nav-link' {%if request.path == about%}style="color:purple;"{%endif%} href={{about}}>About</a></li>
        {%endif%}

        {%if user.is_authenticated %}
            <li class='nav-item'><a class='nav-link' {%if request.path == profile%}style="color:purple;"{%endif%} href={% url 'profile' %}> Profile</a></li>
            
        
           {%else%}             
            
            <li class='nav-item'><a class='nav-link' {%if request.path == register%}style="color:purple;"{%endif%} href={%url 'register' %}>Register </a></li>
            <li class='nav-item'><a class='nav-link' {%if request.path == login%}style="color:purple;"{%endif%} href={%url 'login'%}>Login </a></li>

        {%endif%}
           
      </ul>
      <!--This is the search bar in webpage-->
      <form method='get' class='d-flex pt-3' action='/search' >

            <input type='text' class='form-control me-2' name='search_me' placeholder='Search'>
            <input type='submit' value='Search' class='btn btn-outline-success btn-sm'>
                                        
        </form>
    </div>
  </div>
</nav>




<div class='container-fluid mt-3'>
    {%block body%}



    {% endblock %}
    
    
</div>




{%block footer%}
        <div class='container-fluid bg-dark text-white mt-5 footer' id='footer'>

            &copy; Copyright
        
        </div>
{%endblock%}
</body>
</html>