{%extends 'base.html'%}

    {%block title%} All Data{%endblock%}


    {%block style%}

    
        {%endblock%}




{%block body%}


    <div class='container'>
        <p class='h2'>All blogs ({{blogpost_list.count}})</p><br>
            {%if blogpost_list%}
            
                {%for data in blogpost_list%}

              
                    

                    <p ><a href={%url 'detaildata' data.pk %}>{{data.title}}</a><br>
                    <small class='text-muted'> <b> Author: </b>{{data.created_by}} </small><br>
                    <small class='text-muted'> <b> Posted on: </b> {{data.date}}</small><br>
                    <small class='text-muted'> <b> Category: </b>{{data.topic}}</small></p>   
                    
                    

              

                {%endfor%}

              




            {%endif%}
        </div>
 

    {%endblock%}

{%block footer%}
{%endblock%}