{%extends 'base.html'%}

    {%block title%} All Data{%endblock%}


    {%block style%}

    
        {%endblock%}




{%block body%}


    <div class='container'>
        <p class='h2'>All blogs ({{blogpost_list.count}})</p><br>
            {%if blogpost_list%}
            
                {%for data in blogpost_list%}

              
                    

                    <p ><a href={%url 'homeapp:article' data.slug %}>{{data.title}}</a>
                    <small class='text-muted'> <b> Author: </b>{{data.created_by}} </small><br>
                    <small class='text-muted'> <b> Category: </b>{{data.topic}}</small></p>   

                {%endfor%}

              




            {%endif%}
        </div><br>
 

    {%endblock%}

