{%extends 'base.html' %}

    {%block head%} 
        <meta name='description' content="{{data.post}} | speaksera">
     {%endblock%}
    {%block title%} {{data.title}} | speaksera {%endblock%}

    {%block style%}
       
        .postdata{text-align:justify; 
            justify-content:space-between;
                    }
        

        .postdata h1{color:rgb(115, 132, 167)}
      
        .comment_section{display:flex;}
      /**This is the front of comment user image like circle**/
       .dot{        
                width:37px;
                border-radius:50%;
                text-align:center;
                font-size:23px;
                color:rgb(255, 250, 250);
                background:rgb(199, 199, 199);}
        .dotdata{margin-top:2px;margin-left:5px;}

        .btn-sm{font-size:12px;}
    {%endblock%}

    


{%block body%}



    <!--Showing detail data on the template-->
    <div class='container-fluid bg-light'>
        <div class='row'>
        

        <div class='col-md-9 postdata'>
            <h1>{{data.title}} | speaksera</h1>
            
            <small class='text-muted'><b>Author</b></small></b>
            
            <a href={%url "profiledetail" data.created_by %}><small class='text-info'>- {{data.created_by}}</small></a>
            
            <br>
            <!--Printing date of created-->
            <small class='text-muted'l><b>Posted on: </b>- {{data.date}}</small> <br>
            <!--topic of the blog--> 
            <small class='text-muted'><u><b>Category: </b>{{data.topic}}</u></small> 
            <!--actual blog post text, safe is used for ckeditor-->
            <div>   
                <p class='fs-5 fw-light'>{{data.post | safe | linebreaks}}</p>
            </div> 

                <hr><br>
                <!--Blog Like section-->
                
                {%if user.is_authenticated%}        
                                <form method='post' action="{%url 'homeapp:like_post' data.slug %}" class='form-group'>
                                                            
                                    {%csrf_token%}

                                    {%if user in data.likes.all%}
                                        <small>{{data.likes.count}} Likes</small> <button type='submit' name='like' value="{{data.slug}}" class='btn btn-danger  btn-sm'>Unlike</button>
                                    {%else%}
                                        <small>{{data.likes.count}} Likes</small> <button type='submit' name='like' value="{{data.slug}}" class='btn btn-primary btn-sm'>Like</button>
                                    {%endif%}

                                </form>
                    {%else%}
                        <small>{{data.likes.count}} Likes</small>
                        
                                
                {%endif%}  

            <br>    


                <!--This is for delete and edit post in blogpost_detail page only-->

                
                {% if user.is_authenticated %}
                    {%if user.id == data.created_by.id %}

                                <a href={%url 'homeapp:editblog' data.slug %}>Edit</a>&nbsp;&nbsp;&nbsp;

                                <a href={%url 'homeapp:deleteblog' data.slug%} class='text-danger'>Delete</a>

                    {%endif%}
                {%endif%}<br><br><hr>

        </div>


        
        <div class='col-md-3'>
            
            <strong>See also</strong><br><br>
            {%for titles in list_titles%}
                <a href={%url 'homeapp:article' titles.slug%}>{{titles.title | truncatechars:50}}</a><br><br>
            {%endfor%}
        
            <u><a  href={%url 'homeapp:listdata' %} class='text-info'>See all</a></u>
            
        </div>

        </div>
    </div>





        <br><br>    

        <!--Comments Section-->
        <hr>
        <div class='container'>
            <h2>Comments...</h2><br>



                {%if user.is_authenticated%}
                            <div class='col-md-6'>
                                <form method='post' action="{%url 'homeapp:article' data.slug %}/comment">
                                    {%csrf_token%}
                                    <div class='form-group'>
                                        
                                        <input type='text' name='comment_text' class='form-control' placeholder='comment...'>
                                        <input type='submit' name='comment_button' value='Post' class='btn btn-primary btn-sm mt-2'>
                                    </div>
                                </form>
                            </div>
                        
                {%endif%}

                <div class='col-md-6'>
                <!--showing comment on page-->
                {%if not data.comments.all %}
                    <!--if there is no comments-->
                    No comments yet...

                    {%else%}
                        <!--if there is already some comments-->
                        <strong>Total Comments</strong> - {{data.comments.count}} <br>
                        
                        <br>

                        <!--print all comments to template-->
                        {%for comment in data.comments.all %}
                        <div class='comment_section my-4'>
                            <div class='dot'>
                             {{ comment.name|make_list|first|title }}
                            </div>
                            <!--comment-by user name-->
                            <div class='dotdata'>
                                    
                                        <a href={%url "profiledetail" comment.name %}><strong>{{comment.name}}</strong></a>-
                                
                                <span class='text-muted'>{{comment.date_added}}</span>
                                
                            </div>
                            
                        </div>
                        <p style="margin-left:40px;margin-top:-20px;">{{comment.body}}</p>
                            
                        
                        <!--delete comment link: who can delete the comment commentor itself or blog owner-->
                        {%if user.is_authenticated and comment.name == user or user.is_authenticated and data.created_by == user %}
                        
                                <a class='btn btn-sm btn-danger'
                                style='padding:3px; float:right;margin-top:-50px;' href="{%url 'homeapp:article' data.slug %}/deletecomment/{{comment.id}}">Delete</a>
                        
                        {%endif%}
                        
                            <hr><br>
                        {%endfor%}
                        
                {%endif%}
                </div>
        </div>
        
            

    </div>


    
<br>
{%endblock%}





