{%extends 'base.html' %}

    {%block head%} 
        <meta name='description' content={{data.post | truncatechars:100}}>
     {%endblock%}
    {%block title%} {{data.title}} {%endblock%}

    {%block style%}

        .btn-sm{font-size:11px;}
    {%endblock%}

    


{%block body%}




    <div class='container'>
        <div class='row'>
        

        <div class='col-md-10 '>
        <h2>{{data.title}}</h2>
        <small class='text-muted'><b>Author</b>- {{data.created_by}}</small><br>
        
        <small class='text-muted'l><b>Posted on: </b>- {{data.date}}</small> <br>

        <!--Printing date of created-->
        <small class='text-muted'><u><b>Category: </b>{{data.topic}}</u></small>

        
               <br><br>
               
               <p class='fs-5 fw-light' style="text-align:justify;"> {{data.post | linebreaks}}</p><hr>
                
        
        
        

        <!--Blog Like section-->
        
        {%if user.is_authenticated%}        
                        <form method='post' action="{%url 'like_post' data.pk %}" class='form-group'>
                                                    
                            {%csrf_token%}

                            {%if user in data.likes.all%}
                                <small>{{data.likes.count}} Likes</small> <button type='submit' name='like' value="{{data.id}}" class='btn btn-danger  btn-sm'>Unlike</button>
                            {%else%}
                                <small>{{data.likes.count}} Likes</small> <button type='submit' name='like' value="{{data.id}}" class='btn btn-primary btn-sm'>Like</button>
                            {%endif%}

                        </form>
            {%else%}
                <small>{{data.likes.count}} Likes</small>
                
                        
        {%endif%}  

    <br>    


        <!--This is for delete and edit post in blogpost_detail page only-->

        
        {% if user.is_authenticated %}
            {%if user.id == data.created_by.id %}

                        <a href={%url 'editblog' data.pk %}>Edit</a>&nbsp;&nbsp;&nbsp;

                        <a href={%url 'deleteblog' data.pk%} class='text-danger'>Delete</a>

            {%endif%}
        {%endif%}

        </div>
        <div class='col-md-2'>
        </div>

        </div>
    </div>





        <br><br>    

        <!--Comments Section-->
        <hr>
        <div class='container'>
            <h2>Comments...</h2><br>



                {%if user.is_authenticated%}
                            <div class='col-md-6'>
                                <form method='post' action="{%url 'detaildata' data.id %}/comment">
                                    {%csrf_token%}
                                    <div class='form-group'>
                                        
                                        <input type='text' name='comment_text' class='form-control' placeholder='comment...'>
                                        <input type='submit' name='comment_button' value='Post' class='btn btn-primary btn-sm mt-2'>
                                    </div>
                                </form>
                            </div>
                        
                {%endif%}

                <div class='col-md-6'>
                <!--showing comment on page-->
                {%if not data.comments.all %}
                    <!--if there is no comments-->
                    No comments yet...

                    {%else%}
                        <!--if there is already some comments-->
                        <strong>Total Comments</strong> - {{data.comments.count}} <br>
                        
                        <br>

                        <!--print all comments to template-->
                        {%for comment in data.comments.all %}
                            
                        <strong>{{comment.name}}</strong> -
                            <span class='text-muted'>{{comment.date_added}}</span><br>
                            <p>{{comment.body}}</p>


                            <!--Like comment-->
                            {%if user.is_authenticated%}   
                                <form method='post' action="{% url 'likecomment' comment.id%}" >
                                    {%csrf_token%}
                                    <small>{{comment.comment_likes.count}} Likes</small>
                                    {%if user in comment.comment_likes.all %}
                                        <button type='submit' class='btn btn-danger btn-sm' value={{data.comments.id}}>Unlike</button>
                                        
                                        {%else%}
                                            <button type='submit' class='btn btn-primary btn-sm' value={{data.comments.id}}>Like</button>
                                    {%endif%}
                                </form>
                                
                            {%endif%}

                            <!--delete comment link here-->
                            {%if comment.name == user or user == data.created_by%}
                            
                            <a class='text-danger' href={%url 'delete-comment' comment.id %}> Delete</a><br>
                            {%endif%}<hr>
                        {%endfor%}
                        
                {%endif%}
                </div>
        </div>
        
            <hr>

    </div>


    

{%endblock%}
{%block footer%}

{%endblock%}




