{%extends 'base.html'%}
{%block title%}Delete blog {%endblock%}


<!--Start styling block-->
{%block style%}

{%endblock%}
<!--End style block-->


{%block body%}

    <div class='container'>
    {%if user.is_authenticated%}
            {% if user.id == blogpost.created_by.id %}   
        <strong>Confirmation </strong><br>
        <p class='text-muted'>Delete Blog</p>
        
            <form method='post'>
            {%csrf_token%}
            <input type='submit' value='Yes' class='btn btn-danger'>
            </form>

        <button class='btn btn-primary' href={%url 'profile' %}>No</button>
        

        


            {%endif%}
    {%endif%}

</div>
{%endblock%}
{%block footer%}

{%endblock%}