{%extends 'base.html' %}
<html lang="en">
<head>

   {%block title%}Edit Blog {%endblock%}
   
   {%block style%}
        
   {%endblock%}


{%block body%}


    <div class='container table-responsive'>

        {% if user.is_authenticated %}
                {% if user.id == blogpost.created_by.id %}

                <form method='post'>

                    {%csrf_token%}
                    {{form.media}}
                    {{form}}
                        <br><input type='submit' class='btn btn-primary' value='Push Edit'>

                    </form>

                    {%else%}

                        You are not authenticated to edit this blog
                {%endif%}


            {%else%}
                No allowed
                
        {% endif %}

    </div>
        
    
    {%endblock%}

{%block footer%}
{%endblock%}