{%extends 'base.html'%}
{%load static%}

    {%block title%}Home {%endblock%}

    

    {%block style%}


    

            @media screen and (max-width:700px){
       .maincarousel{height:400px;}
       
     }
  
    {%endblock%}




{%block body%}


<div class='container maincarousel'>
        <div class='carousel slide carousel-slide' data-bs-ride='carousel' id='carouselslide'>

            <div class='carousel-inner'>

                <div class='carousel-item '>
                    <img src={%static './img/clark-tibbs-oqStl2L5oxI-unsplash.jpg' %} class='d-block w-100 h-50' alt='first'>
                    
                </div>
                <div class='carousel-item active'>
                    <img src={%static './img/domenico-loia-hGV2TfOh0ns-unsplash.jpg' %} class='d-block w-100 h-50'>
                </div>
                <div class='carousel-item'>
                    <img src={%static './img/aaron-burden-AXqMy8MSSdk-unsplash.jpg' %} class='d-block w-100 h-50'>
                </div>
                <div class='carousel-item'>
                    <img src={%static './img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg' %} class='d-block w-100 h-50'>
                </div>

            </div>

            
                <div>
                    <br>
                    <p>Put your views on the site and share your thoughts with all over the world.
                    This website is in testing phase so other updates will be visible every day or in a week.
                       
                        <br><a href={%url 'register'%}>Create account Now!</a> 
                    </p>
                </div>

        </div>

</div>



        <!--this is the left aside bar which is for topics of data-->

<div class='container'>
    <p class='h2 text-success'><u>Latest Blogs-</u></p>
    <div class='row'>
        {%if blog_data%}
        <div class='col-md-8'>                            
            {%for data in blog_data%}                          
                <div class='container mt-5 bg-light p-2'>    
                    <h5><a href={%url 'detaildata' data.id%}> {{data.title}}</a></h5>
                    <small class='text-muted'><b>Posted by: </b>{{data.created_by}}<br>
                    <b>Posted on:</b>{{data.date}}<br>
                    <b><u>Category: </b>{{data.topic}}</u></small><br><br>
                    <p class='lead'>{{data.post | truncatechars:250}} </p> 
                    {{data.likes.count}} likes,
                    {{data.comments.count}} Comments

                </div>       <hr>               
            {%endfor%}
                                
        </div>
        {% endif %}

                    
        <div class='col-md-2'>
        </div>

        <div class='col-md-2'>

                        
            <strong>All Blogs</strong><br><br>

            {%if data%}
                {%for data in data%}
                                    
                           
                    <p> <a href={%url 'detaildata' data.id%}> {{data.title}} </a></p>
                        
                                     
                {%endfor%}

            {%endif%}
            <a  href={%url 'listdata' %} class='text-info'>See all blogs( {{count}} )</a>
        </div>

    </div>        
</div>
    
<br><br>

    <!-- Another container 


    <div class='container border'>
        <div class='row'>
            <div class='col-md-4'>
                <p>First column</p>
            </div>
            <div class='col-md-4'>
            <p>First column</p>
            </div>
            <div class='col-md-4'>
            <p>First column</p>
            </div>

        </div>

    </div>   -->



    {%endblock%}
    
    
